* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*faz com que o padding e a borda sejam incluídos na largura e altura do elemento*/
}


body {
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat; /*não repete a imagem*/
    background-position: top center; /*centraliza a imagem*/
    background-size: cover; /*cobre toda a tela*/
   
}


body * {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

#container {

    width: 360px;
    margin: 56px auto 0 auto; /*centraliza o container na tela*/

}

#profile {
    text-align: center; /*centraliza o conteúdo dentro do profile*/
    padding: 24px;

}


#profile img{ /*em hierarquia, esse seria como o "pai"*/
    width: 112px;
    
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;

}

ul {
    list-style: none; /*remove os marcadores da lista*/
    display: flex; /*deixa os itens um ao lado do outro*/
    flex-direction: column; /*alinha os itens da lista em coluna, um abaixo do outro*/
    gap: 16px; /*espaçamento entre os itens da lista*/

    padding: 24px 0; /*espaçamento interno do container da lista, separando os botões dos icones*/
}

ul li a{
    /*alinhando as caixinhas dos botões*/
    display: flex;
    justify-content: center; /*alinha o conteúdo no centro (meio) do item da lista*/
    align-items: center; /*alinha o conteúdo verticalmente no centro do item da lista*/
    

    padding: 16px 24px; /*espaçamento interno do item da lista*/

    /*mexendo na cor e outros estilos dos botões*/
    background-color: rgba(255, 255, 255, 0.1); /*cor de fundo com transparência*/
    border: 1px solid rgba(255, 255, 255, 0.5); /*borda com transparência*/
    border-radius: 10px; /*bordas arredondadas*/
    backdrop-filter: blur(4px); /*efeito de desfoque no fundo*/
    text-decoration: none; /*remove o sublinhado do link*/
    font-weight: 500;
    transition: background 0.2s; /*transição suave para o efeito de hover*/

}

/*pseudo-selector > é o efeito que acontece quando passamos o mouse por cima do botão*/
ul li a:hover{
    background: rgba(255, 255, 255, 0.05); /*cor de fundo com transparência ao passar o mouse*/
    border: 1.5 px solid white; /*borda branca ao passar o mouse*/
}

#social-links {

    /*configurando espaçamento e centralizando os icones*/
    display: flex; /*deixa os ícones um ao lado do outro*/
    justify-content: center; /*alinha os ícones no centro do container*/

    padding: 24px 0; /*espaçamento interno do container dos ícones*/

    font-size: 24px; /*tamanho dos ícones*/
}

#social-links a{
    /*alinhando as caixinhas dos ícones*/
    display: flex;
    justify-content: center; /*alinha o conteúdo no centro (meio) do item da lista*/
    align-items: center; /*alinha o conteúdo verticalmente no centro do item da lista*/

    padding: 16px; /*espaçamento interno do ícone*/

    transition: background 0.2s; /*transição suave para o efeito de hover*/
    border-radius: 50%; /*deixa o fundo do ícone arredondado, formando um circulo perfeito*/

}

#social-links a:hover{
    background:rgba(255, 255, 255, 0.2); /*cor de fundo com transparência ao passar o mouse*/
}

footer {
   padding: 24px 0; /*espaçamento interno do rodapé*/
   text-align: center; /*centraliza o conteúdo dentro do rodapé*/
   font-size: 14px; /*tamanho da fonte do rodapé*/

}

