body {
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat; /*não repete a imagem*/
    background-position: top center; /*centraliza a imagem*/
    background-size: cover; /*cobre toda a tela*/
   
}

#container {
    width: 360px;
    height: 712px;
    margin: auto; /*centraliza o container*/
}

#profile {
    text-align: center; /*centraliza o conteúdo dentro do profile*/
}



#profile img{ /*em hierarquia, esse seria como o "pai"*/
    width: 112px;
    
}